.cont {
  padding-top: 80px;
  padding-left: 210px;
  transition: 0.5s ease-in-out;
}

.end {
  padding-left: 10px;
}

@media screen and (max-width: 800px) {
  .cont {
    width: 1000px;
    overflow-x: scroll;
  }
}
